<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<h1>Log In</h1>
<form action="#" method="post" th:object= "${loginForm}">
    <input placeholder="Email" name="Email" type="email" required="" th:field="${loginForm.email}">
    <input  placeholder="Password" type="password" class="password" name="Password" required="" th:field="${loginForm.pass}"/>
    <input type="submit" value="Log In" name="login">
    <div class="alert-danger" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error</div>
</form>
</body>
</html>